body {
  background: #ddd;
  display: flex;
}

section ol#messageList {
  max-width: 700px;
  margin: 0 auto;
  list-style: none;
  background: #F5F5F5;
  border-top: 1px solid #CCC;
}

section ol#messageList li {
  padding: 16px;
  border-bottom: 1px solid #CCC;
}

.example {
  display: grid;
  transition: all .5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}
